.wrapper {
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  height: 22px;
  border: 1px solid lightgray;
  cursor: pointer;
  padding: 4px;
}

.dropdown {
  padding: 4px;
  position: absolute;
  top: 30px;
  border: 1px solid lightgray;
  width: calc(100% - 10px);
  background-color: lightgray;
  visibility: hidden;
  opacity: 0;
  transition: visibility .1s, opacity .1s linear;
  background-color: white;
  z-index: 1;
}