.wrapper {
  overflow: hidden;
  height: 300px;
  white-space: nowrap;
  position: relative;
}

.item {
  color: white;
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  > * {
    width: 100%;
    height: 100%;
  }
}

.left {
  position: absolute;
  left: 20px;
  top: calc(50% - 20px);
  cursor: pointer;
  user-select: none;
}

.right {
  position: absolute;
  right: 20px;
  top: calc(50% - 20px);
  cursor: pointer;
  user-select: none;
}